Checks: '
-*,

# Categories
-bugprone-*,
-cert-*,
-clang-analyzer-*,
-cppcoreguidelines-*,
-misc-*,
-modernize-*,
modernize-use-nullptr,
-performance-*,
-readability-*,
'

# Treat all warnings as errors
WarningsAsErrors: '*'

# Apply checks to all files
HeaderFilterRegex: '.*'

# Disable automatic formatting
FormatStyle: none
